
.App {
  text-align: center;
  font-style: oblique;
  background-color: rgba(134, 89, 138, 0.637);
  border-radius:30% 3% 3% 8%;
  min-height: 10vh;
  width:100vw;
  box-shadow: 1px 1px 25px .5px rgb(69, 37, 145);
  border:2px solid rgba(255, 255, 255, 0.281);
}



.App-link {
  color: #61dafb;
}

nav{
  display:flex;
  justify-content: space-around;
  border-radius:25% 15% 15% 25%;

  align-items: center;
  max-height: 10vh;
  width:70vw;
  margin-left:150px;
  padding:1.25rem;
  background: rgb(136, 185, 144);
  color: whitesmoke;
  box-shadow: 1px 1px 25px .5px rgb(75, 30, 30);
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  color:tomato;
  align-items: center;
  list-style: none;
}
li{
  list-style:none;
}
li:hover{
  list-style:disc;
  background-color:yellow;
  font-size:2rem;
}
iframe{
  border-radius:30% 0%;
  border:5px solid white;
  width:70vw;
}
img{
  height:70px;
  width:70px;
}
img:hover{
  height:100px;
  width:150px;
  background-color: thistle;
}
button{
  width:100px;
  color:rgb(178, 236, 85);
  background-color: rgb(4, 92, 92);
  height:40px;
  box-shadow: 1px 1px 25px .5px rgb(75, 30, 30);
  font-family: inherit;
}
button:hover{
  background-color: violet;
  font-family:cursive;
  
}