
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Pacifico', cursive;
    font-family: 'Press Start 2P', cursive;
  }
  .heading {
    font-weight: 700;
  }
  .subheading {
    font-weight: 300;
  }

